
.content{

    color: #FFFFFF;
    background: #000; 
    font-size: 26px;
    font-weight: bold;
    position: relative;
    z-index: 100;
}


.background{

    color: #999999;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

#event{
  background-image: url("../images/bgdash4.jpg"); 
  background-size: cover;
}

#dash{
  background-image: url("../images/bgdash.jpg"); 
  background-size: cover;
}

