{% extends "base.html" %}

{% block content %}
<div class="jumbotron" style="background-color: white">
  <div class="card text-center m-5">
  <div class="card-header" style="background-color: #e3f2fd; color: 000034;">
    Events 
  </div>
  <div class="card-body">
    <h5 class="card-title display-4" style="color: 000034;">Hello {{request.user.username}}</h5>
    <table class="table table-striped"> 
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Date</th>
      <th>Seats</th>
    </tr>
    {% for event in events%}
      <tr>
      <td>{{event.title}}</td>
      <td>{{event.description}}</td>
      <td>{{event.datetime}}</td>
      <td>{{event.seats}}</td>
      {%if request.user == event.organizer  %}
      <td><a href="{% url 'event-detail' event.id  %}" class="btn btn-outline-primary">Details</a></td>
       <td><a href="{% url 'event-edit' event.id  %}" class="btn btn-outline-primary">Edit event</a></td>
       {# <td><a href="{% url 'event-delete' classroom.id event.id  %}" class="btn btn-outline-danger">Delete event</a></td> #}
      {%endif%}
    </tr>
    
    {%endfor%}
  </table>
  {# {% if request.user == event.organizer %}
    <a href="{% url 'student-create' classroom.id %}" class="btn btn-outline-success" ">Create student</a>
    <a href="{% url 'classroom-update' classroom.id %}" class="btn btn-outline-primary" ">Update</a>
    <a href="{% url 'classroom-delete' classroom.id %}" class="btn btn-outline-danger">Delete</a>
    {%endif%} #}
    </div>
  </div>
</div>

  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
{% endblock content %}
