{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
        <div class="jumbotron">
          <h2 class="masthead-subheading mb-0">Book event</h2>
          <h5 class="masthead-subheading mb-0">{{event.seats}} seats left</h5>
          <form action="{% url 'event-booked' event.id %}" method="POST">
            {% csrf_token %}
            <input type="number" name="tickets" class=" form-control" min=1 max={{event.seats}}>
            <input class = "btn btn-primary btn-xl rounded-pill mt-5" type="submit" value="Book">
          </form>
      </div>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>
{% endblock content %}